<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :app_key %><br>
    <%= f.text_field :app_key %>
  </div>
  <div class="field">
    <%= f.label :app_secret %><br>
    <%= f.text_field :app_secret %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
