<h1> Welcome to your app </h1>
<% if user_signed_in? %>
	Logged in as <%= current_user.email %>
	<%= link_to "Edit Profile", edit_user_registration_path %>
	<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to "Sign Up", new_user_registration_path %>
	<%= link_to "Log In", new_user_session_path %>
<% end %>