<% provide(:title, @folder.name) %>

<p>
  <strong>Name:</strong>
  <%= @folder.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @folder.folder_path %>
</p>

<% if @folder.parent %>
  <p>
    <strong>Parent:</strong>
    <%= link_to @folder.parent.name, @folder.parent %>
  </p>
<% end %>

<p>
  <strong>User:</strong>
  <%= @folder.user_id %>
</p>

<p>
  <strong>Folders:</strong>
  <% @folders.each do |folder| %>
  	<%= link_to folder.name, folder_path(folder) %>
  <% end %>
</p>

<p>
  <strong>File:</strong>
  <% @user_files.each do |user_file| %>
  	<%= link_to user_file.name, user_file_path(user_file) %>
  <% end %>
</p>
