<h1>Listing user_files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_files.each do |user_file| %>
      <tr>
        <td><%= user_file.name %></td>
        <td><%= user_file.path %></td>
        <td><%= link_to 'Show', user_file %></td>
        <td><%= link_to 'Edit', edit_user_file_path(user_file) %></td>
        <td><%= link_to 'Destroy', user_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User file', new_user_file_path %>
