<p id="notice"><%= notice %></p>

  <strong>Name:</strong>
  <%= @user_file.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @user_file.parent %>
</p>

<%= link_to 'Edit', edit_user_file_path(@user_file) %> |
<%= link_to 'Back', folder_path(@folder.id) %>
